


<h1>Make your form here</h1>

<form action="/show" method="post">
  <!-- pirate -->
<p><label for="pirate[name]">Pirate Name</label>
<input type="text" name="pirate[name]"></p>

<p><label for="pirate[weight]">Weight</label>
<input type="number" name="pirate[weight]"></p>

<p><label for="pirate[height]">Height</label>
<input type="number" name="pirate[height][][name]"></p>
<!-- ship 1 -->
<p><label for="ship[][name]">Ship Name</label>
<input type="text" name="pirate[ship][][name]" id="ship_name_1"></p>

<p><label for="ship[][type]">Ship Type</label>
<input type="text" name="pirate[ship][][type]" id="ship_type_1"></p>

<p><label for="ship[][booty]">Ship Name</label>
<input type="text" name="pirate[ship][][booty]" id="ship_booty_1"></p>
<!-- ship 2 -->
<p><label for="ship[][name]">Ship Name</label>
<input type="text" name="pirate[ship][][name]" id="ship_name_2"></p>

<p><label for="ship[][type]">Ship Type</label>
<input type="text" name="pirate[ship][][type]" id="ship_type_2"></p>

<p><label for="ship[][booty]">Ship Name</label>
<input type="text" name="pirate[ship][][booty]" id="ship_booty_2"></p>

<p><input type="submit">
</form>
