<h1>Make your form here</h1>

<form action="/show" method="post">
<p>Pirate Name: <input type="text" name="pirate[name]"></p>
<p>Weight: <input type="number" name="pirate[weight]"> </p>
<p>Height: <input type="number" name="pirate[height][][name]"></p>
<p>Course Name: <input type="text" name="student[courses][][name]"></p>
<p>Course Topic: <input type="text" name="student[courses][][topic]"></p>
<p><input type="submit">
</form>
