<h1>Make your form here</h1>

<form action="/show" method="post">
<label for="pirate[name]">Pirate Name</label>
<input type="text" name="pirate[name]">
<label for="pirate[name]">Pirate Name</label>
<p>Weight: <input type="number" name="pirate[weight]"> </p>
<label for="pirate[name]">Pirate Name</label>
<p>Height: <input type="number" name="pirate[height][][name]"></p>
<label for="pirate[name]">Pirate Name</label>
<p>Course Name: <input type="text" name="student[courses][][name]"></p>
<label for="pirate[name]">Pirate Name</label>
<p>Course Topic: <input type="text" name="student[courses][][topic]"></p>
<p><input type="submit">
</form>
