<h1>Make your form here</h1>

<form action="/show" method="post">
<p><label for="pirate[name]">Pirate Name</label>
<input type="text" name="pirate[name]"></p>

<p><label for="pirate[weight]">Weight</label>
<input type="number" name="pirate[weight]"></p>

<p><label for="pirate[height]">Height</label>
<input type="number" name="pirate[height][][name]"></p>
<!-- ship -->
<label for="pirate[name]"></label>
<p>Course Name: <input type="text" name="student[courses][][name]"></p>
<label for="pirate[name]">Pirate Name</label>
<p>Course Topic: <input type="text" name="student[courses][][topic]"></p>
<p><input type="submit">
</form>
